<%- include("partials/header"); -%>

<h1 class="heading">Your Stories</h1>


     <% posts.forEach(function(post){  %>
          <div class="cards">       
               <div class="row">
                    <div class="title-div"> 
                         <h2 class="post-title"><a href="/posts/<%= post.id %>"> <%= post.title.charAt(0).toUpperCase() + post.title.slice(1) %> </a></h2>
                    </div>
                    <div class="oper">
                         <a href="/<%= post.id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                         <a href="delete/<%= post.id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </div>
               </div>
          
              <p class="post-content"><%=post.content.substring(0,200)+" ..."; %><a href="/posts/<%= post.id %>"> Read More</a></p>
          
          </div>
     <% }); %>
          


<%- include("partials/footer"); -%>


